@import './dark';

:root {
  --logo-color: hsl(210deg 6% 21%);
  --background-deep: #f1f3f6;
  --menu-item-color: hsl(210deg 6% 21%);
  --menu-item-active-background-color: hsl(212deg 100% 45% / 15%);
  --menu-item-active-color: hsl(212deg 100% 45%);
}
