@use './dark';
@use './default';

.el-card {
  --el-card-border-radius: 8px !important;

  .el-card__header {
    padding: calc(var(--el-card-padding) - 4px) var(--el-card-padding);
    font-weight: bold;
  }
}
